@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
/* Base colors */
  --white: hsla(40, 100%, 99%, 1);
  --yellow: hsla(45, 77%, 81%, 1);
  --blue: hsla(176, 33%, 71%, 1);
  --red-50:hsla(5, 64%, 83%, 1);
  --red-500:hsla(8, 94%, 49%, 1);
  --black:hsla(180, 3%, 7%, 1);
  --grey:hsla(176, 3%, 48%, 1);


    --border: 20 5.9% 90%;
    --input: 0 0% 90%;
    --ring: 242 64% 46%;
    --radius: 18px;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background-white text-foreground;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}